<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>01-intro.md</key>
			<dict>
				<key>lastModification</key>
				<real>523428653.07279301</real>
				<key>version</key>
				<dict>
					<key>6a9b97fda0e5b1a26fb2b2aa5edb4a71a65adcad19337704cae912ff2e08d684</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>02-modules.md</key>
			<dict>
				<key>lastModification</key>
				<real>523428673.74533701</real>
				<key>version</key>
				<dict>
					<key>6a9b97fda0e5b1a26fb2b2aa5edb4a71a65adcad19337704cae912ff2e08d684</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>03-challengues.md</key>
			<dict>
				<key>lastModification</key>
				<real>523428691.23089701</real>
				<key>version</key>
				<dict>
					<key>6a9b97fda0e5b1a26fb2b2aa5edb4a71a65adcad19337704cae912ff2e08d684</key>
					<integer>9</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>523631455.59654802</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>03-challengues.md</string>
		</array>
		<array>
			<string>02-modules.md</string>
		</array>
		<array>
			<string>01-intro.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>6a9b97fda0e5b1a26fb2b2aa5edb4a71a65adcad19337704cae912ff2e08d684</key>
			<integer>10</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>6a9b97fda0e5b1a26fb2b2aa5edb4a71a65adcad19337704cae912ff2e08d684</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
