<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>01-loops.md</key>
			<dict>
				<key>lastModification</key>
				<real>523427294.385607</real>
				<key>version</key>
				<dict>
					<key>6a9b97fda0e5b1a26fb2b2aa5edb4a71a65adcad19337704cae912ff2e08d684</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>02-description-overview.md</key>
			<dict>
				<key>lastModification</key>
				<real>523427543.38871503</real>
				<key>version</key>
				<dict>
					<key>6a9b97fda0e5b1a26fb2b2aa5edb4a71a65adcad19337704cae912ff2e08d684</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>03-challenges.md</key>
			<dict>
				<key>lastModification</key>
				<real>523427568.30663502</real>
				<key>version</key>
				<dict>
					<key>6a9b97fda0e5b1a26fb2b2aa5edb4a71a65adcad19337704cae912ff2e08d684</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>04-utility-variables.md</key>
			<dict>
				<key>lastModification</key>
				<real>523427646.81342697</real>
				<key>version</key>
				<dict>
					<key>6a9b97fda0e5b1a26fb2b2aa5edb4a71a65adcad19337704cae912ff2e08d684</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>05-for-loops.md</key>
			<dict>
				<key>lastModification</key>
				<real>523427678.839899</real>
				<key>version</key>
				<dict>
					<key>6a9b97fda0e5b1a26fb2b2aa5edb4a71a65adcad19337704cae912ff2e08d684</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>06-challenges.md</key>
			<dict>
				<key>lastModification</key>
				<real>523427694.596389</real>
				<key>version</key>
				<dict>
					<key>6a9b97fda0e5b1a26fb2b2aa5edb4a71a65adcad19337704cae912ff2e08d684</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>07-break.md</key>
			<dict>
				<key>lastModification</key>
				<real>523427703.60286701</real>
				<key>version</key>
				<dict>
					<key>6a9b97fda0e5b1a26fb2b2aa5edb4a71a65adcad19337704cae912ff2e08d684</key>
					<integer>27</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>523631455.59060198</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>07-break.md</string>
		</array>
		<array>
			<string>06-challenges.md</string>
		</array>
		<array>
			<string>05-for-loops.md</string>
		</array>
		<array>
			<string>04-utility-variables.md</string>
		</array>
		<array>
			<string>03-challenges.md</string>
		</array>
		<array>
			<string>02-description-overview.md</string>
		</array>
		<array>
			<string>01-loops.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>6a9b97fda0e5b1a26fb2b2aa5edb4a71a65adcad19337704cae912ff2e08d684</key>
			<integer>28</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>6a9b97fda0e5b1a26fb2b2aa5edb4a71a65adcad19337704cae912ff2e08d684</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
